@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "首页";
}

<div class="ad"><img src="~/Content/images/ad.jpg" width="100%" /></div>
<div class="container">
    <h1 class="title"><font>报告类型</font></h1>
    <div class="row">
        <div class="col-xs-3 text-center"> <a href="/Home/Index?ReportType=''" onclick='return checkInitPassword();'><img src="~/Content/images/pic01.jpg" /><h4>- 明采 -</h4></a></div>
        <div class="col-xs-3 text-center"> <a href="/Home/Index?ReportType=Mystery" onclick='return checkInitPassword();'><img src="~/Content/images/pic02.jpg" /><h4>- 密采 -</h4></a></div>
        }
    </div>
</div>